contourpy==1.3.3
cycler==0.12.1
fonttools==4.62.1
kiwisolver==1.5.0
matplotlib==3.10.8
git+https://github.com/Nano-DNA-Studios/NCL.git@eeef14040863e8fe686250e7c1521217340d61b2
numpy==2.4.3
packaging==26.0
pandas==3.0.1
pillow==12.1.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
six==1.17.0
tzdata==2025.3
